@charset "utf-8";
/* CSS Document */
body {
	background-image: url("../images/watercolour.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	margin: 0
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 48px;  /* Preferred icon size */
	display: table-cell;
	vertical-align: middle;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
  
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
  
	/* Support for IE. */
	font-feature-settings: 'liga';
  }

.blank_space {
	height: 5px;
}

.footer {
	position: fixed;
	bottom: 70;
	width: 100%;
}

.tlf {
	color: #fff;
}

.top {
	position: fixed;
	color: #fff;
	display: table;
	font-family: 'Open Sans', sans-serif;
	top: 0;
	font-size: 18px;
	background-color: #3a9599;
	width: 100%;
	align-items: center;
	height: 38px;
}

.number {
	display: table-cell;
    vertical-align: middle;
}

.example_d {
color: #FFF !important;
text-transform: uppercase;
background:hsla(0,0%,100%,0.00) ;
font-family: 'Open Sans', sans-serif;
width: 95%;
padding-bottom: 18px;
margin: 0;
padding-top: 18px;
margin-top: 15px;
font-size: 20px;
border: 5px solid #FFF !important;
border-radius: 20px;
display: inline-block;
transition: all 0.4s ease 0s;
}
.example_d:hover {
color: #3ebabc !important;
background: #fff;
border-color: #fff !important;
transition: all 0.4s ease 0s;
}

.button_cont {
	margin-right: 20px;
	margin-left: 20px;
}

.logo {
	width: 75%;
	margin-top: 60px;
	margin-bottom: 10px;
} 
.sociali {
	margin-top: 15px;
	margin-left: 7px;
}

.socialf {
	margin-top: 15px;
	margin-right: 7px;
}

.cuadro_opina {
color: #3a9599 !important;
margin-right: 20px;
margin-left: 20px;
text-transform: uppercase;
background:hsla(0,0%,100%,0.9) ;
font-family: 'Open Sans', sans-serif;
width: 55%;
padding-bottom: 10px;
margin-top: 20px;
padding-top: 10px;
font-size: 12px;
border: 0px solid #FFF;
border-radius: 5px;
display: inline-block;
transition: all 0.4s ease 0s;
}

a:link, a:visited, a:active {
    text-decoration:none;
}